<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no,maximum-scale=1.0">
    <title>乐养老</title>
    <link rel="stylesheet" href="/assets/mui/css/mui.min.css"/>
    <link rel="stylesheet" href="/css/common.css"/>
    <link rel="stylesheet" href="/css/course-detail.css"/>
    <!-- Begin emoji-picker Stylesheets -->
    <link rel="stylesheet" href="/assets/font-awesome/css/font-awesome.min.css"/>
    <link href="/assets/emoji/css/emoji.css" rel="stylesheet">
</head>
<body>
<div id="app" class="mui-content" v-cloak>

    <div class="active"  @touchstart="touchStart($event)" @touchmove="touchMove($event)">
        <!--
       顶部图片
   -->
        <header>
            <img @click="goBack" src="/img/course-detail/icon_backwhite@3x.png" class="back-icon-white"/>
            <img :src="detailList.detail.coverimage" class="course-show-img"/>
            <div class="img-mask"></div>
            <div class="course-img-desc">
                <div class="left-part">
                    <p class="course-img-desc-title">{{detailList.detail.name}}</p>
                    <p class="course-img-desc-info">{{detailList.detail.readnum}}阅读 &#8226; {{detailList.detail.zan}}点赞 &#8226; {{detailList.detail.comments}}评论 {{detailList.detail.createtime}}</p>
                </div>
                <div class="right-part">
                    <button type="button"  @click="applicationClass(detailList.detail.id)"
                            class="apply-course apply" :class="{active:detailList.detail.is_audit == 0}">申请课程</button>
                    <button type="button" class="apply-course checking" :class="{active:detailList.detail.is_audit == -1}">正在审核</button>
                </div>
            </div>
        </header>
        <!--
            课程介绍
        -->
        <div class="course-introduction-container">
            <div class="logo-container">
                <img :src="detailList.detail.auth_avatar" class="logo-img"/>
                <div class="logo-content">
                    <p class="logo-title">{{detailList.detail.auth}}</p>
                   <!-- <p class="logo-desc">{{detailList.detail.signtext}}</p>-->
                    <p class="logo-desc">乐养老官方账号</p>
                </div>
            </div>
            <!--
                课程好处
            -->
            <div class="course-benefit" v-html="detailList.detail.content"></div>
          <!--  &lt;!&ndash;
                课程时间
            &ndash;&gt;
            <div class="course-time">
                <p class="course-time-title">课程时间</p>
                <p class="course-time-content">{{detailList.detail.coursetimes}}</p>
            </div>
            &lt;!&ndash;
                课程原则
            &ndash;&gt;
            <div class="course-principle">
                <p class="course-principle-title">课程原则</p>
                <ul class="course-principle-list">
                    &lt;!&ndash; <li class="course-principle-item" v-for="n in 3">&ndash;&gt;
                    <li class="course-principle-item" >
                        {{detailList.detail.attention}}
                    </li>
                </ul>
            </div>
            &lt;!&ndash;
                注意事项
            &ndash;&gt;
            <div id="careful" class="course-principle">
                <p class="course-principle-title">注意事项</p>
                <ul class="course-principle-list">
                    <li class="course-principle-item">
                        {{detailList.detail.notice}}
                    </li>
                </ul>
            </div>-->
            <!--
                点赞数
            -->
            <div class="course-like-container">
                <div class="border-container" :class="{'border-grey':!detailList.is_zan}">
                    <img @click="likeArticle(detailList.detail.id,false)" src="/img/course-detail/article-like.png" class="course-like-img" :class="{active:detailList.is_zan}">
                    <img @click="likeArticle(detailList.detail.id,true)" src="/img/course-detail/article-like-no.png" class="course-like-img" :class="{active:!detailList.is_zan}">
                    <p class="course-like-num" :class="{'border-grey':!detailList.is_zan}">{{detailList.detail.zan}}</p>
                </div>
            </div>
        </div>
        <!--
            课时列表
        -->
        <div class="course-list-container">
            <div class="course-list-label">
                <img src="/img/course-detail/course-list-title.png" class="course-list-title">
                <p class="course-list-title">课时列表</p>
            </div>
            <ul class="course-list" :class="{hidden:isHidden}">
                <li @click="goToCourseHour(course.id,course.isviewlist)" v-for="(course,index) in courseList" class="course-list-item">
                    <p class="course-list-item-content">
                    <span class="course-list-item-title">
                       <!--{{course.id}}-->
                        {{course.sort <= 9 ? `0`+course.sort : course.sort}} {{course.title}}
                    </span>
                        <span class="course-list-item-desc">
                       {{course.desc}}
                    </span>
                    </p>
                    <p class="course-list-item-learn">
                        <template v-if="course.isviewlist == '可体验'">
                            <span class="exp-icon">体验</span>
                            <span class="item-learn">学习</span>
                        </template>
                        <template v-else>
                            <span class="item-learn"></span>
                        </template>
                        <img v-if="course.isviewlist == '可体验'" src="/img/course-detail/arrow-right.png" class="arrow-right"/>
                    </p>
                </li>
            </ul>
            <!--
                展开列表
            -->
            <div v-if="courseList.length > 4" @click="openAllCourse" class="open-list">
                <i v-if="isHidden" class="mui-icon mui-icon-arrowdown"></i>
                <i v-else class="mui-icon mui-icon-arrowup"></i>
                <p class="open-all-title">{{openTitle}}</p>
            </div>
        </div>

        <!--
            课程评论
        -->
        <div class="course-comments-container">
            <div class="course-comments-label">
                <img src="/img/course-detail/course-list-comment-title.png" class="course-comments-img">
                <p class="course-comments-title">课程评论</p>
            </div>
            <ul class="course-comments-list">
                <li v-for="item in commentsList" class="course-comments-item">
                    <div class="user-info">
                        <p class="user-info-logo-nickname">
                            <img :src="item.avatar" class="user-logo"/>
                            <span class="user-nickname">{{item.nickname}}</span>
                        </p>
                        <p class="user-like-container">
                            <img @click="likeComment(true,item.id)" src="/img/course-detail/like-comment.png" class="like-comment" :class="{active:!item.is_zan}">
                            <img @click="likeComment(false,item.id)" src="/img/course-detail/like-comment-active.png" class="like-comment" :class="{active:item.is_zan}">
                            <span>{{item.zan}}</span>
                        </p>
                    </div>
                    <p @click="goCommentsDetail(item.id)"  class="comments-content">
                        {{item.content}}
                    </p>
                    <p class="comments-img" v-html="item.imgs"></p>
                    <div class="comments-operation" @click="goCommentsDetail(item.id)" >
                        <p class="comments-time">{{item.createtime}}</p>
                        <button @click="replay(item.id)" type="button" class="reply-comments">回复</button>
                    </div>
                </li>
            </ul>
        </div>
        <div class="no-more-comments" v-if="pageCount">
            {{pageNumber < pageCount?'数据加载中！':'没有更多了！'}}
        </div>
    </div>

    <!--
        底部评论栏
    -->
    <footer class="bottom-common">
        <div class="comment-input-container">
            <input data-emojiable="true" id="form_article"
                   v-model="commentsContent" @focus="hideSmile" @blur="blruFn()"
                   class="comment-input"
                   @click="focusInput()"
                   type="text"
                   placeholder="写下你的评论...">
        </div>
        <div class="comment-icon-container" :class="{invisible:isFocus}">
           <!-- <img src="/img/course-detail/comment.png" class="icon-comment bottom-icon-comment"/>-->
            <img @click="collect(true)" src="/img/course-detail/like.png"
                 :class="{active:!detailList.is_collection}"
                 class="icon-like bottom-icon-comment"/>
            <img @click="collect(false)" src="/img/course-detail/like-active.png"
                 :class="{active:detailList.is_collection}"
                 class="icon-like bottom-icon-comment">
            <img @click="shareCourse()"
                 src="/img/course-detail/share.png"
                 class="icon-share bottom-icon-comment"/>
        </div>
        <div class="comment-icon-container" :class="{invisible:!isFocus}">
            <!--<img src="/img/course-detail/comment.png" class="icon-comment bottom-icon-comment"/>-->
            <img src="/img/course-detail/upload-img.png" @click="uploadImg" class="bottom-icon-comment"/>
            <input type="file" hidden id="upload-img" accept="image/*" mutiple="mutiple"/>
            <button type="button"
                    class="comments-send-btn"
                    @click="reviewBtn()"
                    :disabled="isDisabled">发布</button>
        </div>
    </footer>
    <div id="share-sheet" class="mui-popover mui-popover-bottom mui-popover-action ">
        <!-- 可选择菜单 -->
        <ul class="mui-table-view">
            <li class="mui-table-view-cell">
                <a @click="sendToFriend()" href="#">
                    <img src="/img/course-detail/share-fri.jpg" class="share-item-icon">
                    <p class="share-item-desc">发给好友</p>
                </a>
            </li>
            <li class="mui-table-view-cell">
               <!-- <a @click="generateCard()" href="#">
                    <img src="/img/course-detail/share-pic.jpg" class="share-item-icon">
                    <p class="share-item-desc">生成卡片</p>
                </a>-->
            </li>
        </ul>
    </div>
    <!--
        生成的卡片视图预览
    -->
    <div class="card-view-preview" :class="{active:isShowCard}">
        <img @click="hidePreview()" src="/img/course-detail/icon-close-preview.png" class="close-preview-icon"/>
        <div class="card-view-preview-img-container">

            <img  v-if="sharePictures" :src="sharePictures" class="card-view-preview-img">


        </div>
        <button class="card-view-save-btn">长按图片保存</button>
    </div>
</div>
<script type="text/javascript" src="/assets/jquery/jquery-3.3.1.min.js"></script>
<script src="/js/jweixin.js" type="text/javascript"></script>
<script src="/assets/mui/js/mui.min.js" type="text/javascript"></script>
<script src="/assets/emoji/js/config.js"></script>
<script src="/assets/emoji/js/util.js"></script>
<script src="/assets/emoji/js/jquery.emojiarea.js"></script>
<script src="/assets/emoji/js/emoji-picker.js"></script>
<script type="text/javascript" src="/assets/vue/vue.min.js"></script>
<script src="/js/course-detail.js" type="text/javascript"></script>
<script src="/js/showLoad.js" type="text/javascript"></script>


</body>
</html>