<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no,maximum-scale=1.0">
    <title></title>
    <script type="text/javascript" src="/js/loader.js"></script>
    <link rel="stylesheet" href="/css/course-detail.css"/>
    <!-- Begin emoji-picker Stylesheets -->
    <link rel="stylesheet" href="/assets/font-awesome/css/font-awesome.min.css"/>
    <link href="/assets/emoji/css/emoji.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/course-detail.css"/>
    <link href="/css/comments-detail.css" rel="stylesheet"/>
</head>

<body>
<header class="mui-bar mui-bar-nav">
    <a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left" @click="goBack"></a>
    <h1 class="mui-title">评论详情</h1>
</header>
<div id="app" class="mui-content" v-cloak>
    <div class="active"
         @touchstart="touchStart($event)" @touchmove="touchMove($event)">
        <!--
        课程评论
    -->
        <div class="course-comments-container">
            <ul class="course-comments-list">
                <li class="course-comments-item">
                    <div class="commenter-comments">
                        <div class="user-info">
                            <p class="user-info-logo-nickname">
                                <img :src="commentsList.avatar"class="user-logo"/>
                                <span class="user-nickname">{{commentsList.nickname}}</span>
                            </p>
                            <p class="user-like-container">
                                <img @click="likeComment(commentsList.id,false)" :class="{active:commentsList.is_zan}"
                                     src="/img/course-detail/like-comment-active.png" class="like-comment" >
                                <img @click="likeComment(commentsList.id,true)"  :class="{active:!commentsList.is_zan}"
                                     src="/img/course-detail/like-comment.png"
                                     class="like-comment" >
                                <span>{{commentsList.zan}}</span>
                            </p>
                        </div>
                        <p class="comments-content">
                            {{commentsList.content}}
                        </p>
                        <p class="comments-img" v-if="commentsList.img  ">
                            <img  :src="commentsList.img"/>
                        </p>
                        <div class="comments-operation">
                            <p class="comments-time">{{commentsList.createtime}}</p>
                            <button @click="replay(commentsList.id,commentsList.article_id)" type="button" class="reply-comments">回复</button>
                        </div>
                    </div>
                    <!--
                        回复层主的人
                    -->
                    <ul class="replyer-comments" v-if="commentsList.children">
                        <li class="replyer-item" v-for="(item,iindex) in commentsList.children">
                            <!--
                                回复内容
                            -->
                            <div class="replyer-item-content">
                                <div class="user-info">
                                    <p class="user-info-logo-nickname">
                                        <img :src="item.avatar"  class="user-logo"/>
                                        <span class="user-nickname">{{item.nickname}}</span>
                                    </p>
                                    <p class="user-like-container">
                                        <img @click="likeComment(item.id,false)" :class="{active:item.is_zan}"
                                             src="/img/course-detail/like-comment-active.png" class="like-comment" >
                                        <img @click="likeComment(item.id,true)"  :class="{active:!item.is_zan}"
                                             src="/img/course-detail/like-comment.png"
                                             class="like-comment" >
                                        <span>{{item.zan}}</span>
                                    </p>
                                </div>
                                <p class="comments-content">
                                    {{item.content}}
                                </p>
                                <p class="comments-img" v-if="item.img">
                                    <img v-for="n in 5" src="/img/show.jpg"/>
                                </p>
                                <div class="comments-operation">
                                    <p class="comments-time">刚刚</p>
                                    <button @click="replay(item.id,item.article_id)" type="button" class="reply-comments">回复</button>
                                </div>
                            </div>
                            <!--
                                回复回复层主的人
                            -->
                            <ul class="replyer-replyer-comments" v-if="item.children">
                                <li v-for="(item,index) in item.children" class="replyer-replyer-item">
                                    <div class="replyer-container">
                                        <template >
                                            <p class="user-info">
                                                <span class="user-nickname">{{item.nickname}}</span>
                                            </p>
                                            <span @click="replay(item.id,item.article_id)" class="reply-title">回复</span>
                                        </template>
                                        <p class="user-info">
                                            <span class="user-nickname">{{commentsList.children.nickname}}</span>
                                            <img @click="likeComment()" src="/img/course-detail/like-comment.png" class="like-comment">
                                        </p>
                                    </div>
                                    <p class="user-comments-comment">
                                        {{item.content}}
                                    </p>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="no-more-comments" v-if="pageCount">
            {{pageNumber < pageCount?'数据加载中！':'没有更多了！'}}
        </div>

    </div>

    <!--
        底部评论栏
    -->
    <footer class="bottom-common">
        <div class="comment-input-container">
            <input data-emojiable="true" oninput="this.value=this.value.replace(/\s+/g,'')"
                   v-model="commentsContent"
                   class="comment-input" type="text"   @click="focusInput()"
                   type="text" placeholder="写下你的评论..."/>
        </div>
        <div class="comment-icon-container">
            <img src="/img/course-detail/upload-img.png" @click="uploadImg()" class="bottom-icon-comment"/>
            <input type="file" hidden id="upload-img" accept="image/*" mutiple="mutiple"/>
            <button type="button" class="comments-send-btn"
                    @click="reviewBtn()":disabled="isDisabled">发布</button>
        </div>
    </footer>
</div>
<script type="text/javascript" src="/assets/jquery/jquery-3.3.1.min.js"></script>
<script src="/assets/mui/js/mui.min.js?version=1.0" type="text/javascript"></script>
<script src="/assets/emoji/js/config.js"></script>
<script src="/assets/emoji/js/util.js"></script>
<script src="/assets/emoji/js/jquery.emojiarea.js"></script>
<script src="/assets/emoji/js/emoji-picker.js"></script>
<script type="text/javascript" src="/js/comments-details.js"></script>
</body>

</html>