<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title></title>
    <script type="text/javascript" src="js/loader.js"></script>
    <link rel="stylesheet" href="css/course-detail.css"/>
    <!-- Begin emoji-picker Stylesheets -->
    <link rel="stylesheet" href="assets/font-awesome/css/font-awesome.min.css"/>
    <link href="assets/emoji/css/emoji.css" rel="stylesheet">
    <link rel="stylesheet" href="css/course-detail.css"/>
    <link href="css/comments-detail.css" rel="stylesheet"/>
</head>

<body>
<header class="mui-bar mui-bar-nav">
    <a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
    <h1 class="mui-title">评论详情</h1>
</header>
<div id="app" class="mui-content">
    <!--
        课程评论
    -->
    <div class="course-comments-container">
        <ul class="course-comments-list">
            <li v-for="n in 3" class="course-comments-item">
                <div class="commenter-comments">
                    <div class="user-info">
                        <p class="user-info-logo-nickname">
                            <img src="img/course-detail/logo.jpg" class="user-logo"/>
                            <span class="user-nickname">评论者</span>
                        </p>
                        <p class="user-like-container">
                            <img @click="likeComment()" src="img/course-detail/like-comment.png" class="like-comment">
                            <span>0</span>
                        </p>
                    </div>
                    <p class="comments-content">
                        肯德基疯狂夺金对方考虑到积分开了多久发看了电视剧看了房对方考虑决定离开房间打开撒酒疯的开发进度了快速减肥
                    </p>
                    <p class="comments-img">
                        <img v-for="n in 5" src="img/show.jpg"/>
                    </p>
                    <div class="comments-operation">
                        <p class="comments-time">刚刚</p>
                        <button @click="replay()" type="button" class="reply-comments">回复</button>
                    </div>
                </div>
                <!--
                    回复层主的人
                -->
                <ul class="replyer-comments">
                    <li class="replyer-item">
                        <!--
                            回复内容
                        -->
                        <div class="replyer-item-content">
                            <div class="user-info">
                                <p class="user-info-logo-nickname">
                                    <img src="img/course-detail/logo.jpg" class="user-logo"/>
                                    <span class="user-nickname">回复层主的人</span>
                                </p>
                                <p class="user-like-container">
                                    <img @click="likeComment()" src="img/course-detail/like-comment.png" class="like-comment">
                                    <span>0</span>
                                </p>
                            </div>
                            <p class="comments-content">
                                肯德基疯狂夺金对方考虑到积分开了多久发看了电视剧看了房对方考虑决定离开房间打开撒酒疯的开发进度了快速减肥
                            </p>
                            <p class="comments-img">
                                <img v-for="n in 5" src="img/show.jpg"/>
                            </p>
                            <div class="comments-operation">
                                <p class="comments-time">刚刚</p>
                                <button @click="replay()" type="button" class="reply-comments">回复</button>
                            </div>
                        </div>
                        <!--
                            回复回复层主的人
                        -->
                        <ul class="replyer-replyer-comments">
                            <li v-for="n in 4" class="replyer-replyer-item">
                                <div class="replyer-container">
                                    <template v-if="n == 2">
                                        <p class="user-info">
                                            <span class="user-nickname">奥特曼</span>
                                        </p>
                                        <span class="reply-title">回复</span>
                                    </template>
                                    <p class="user-info">
                                        <span class="user-nickname">回复回复层主的人</span>
                                        <img @click="likeComment()" src="img/course-detail/like-comment.png" class="like-comment">
                                    </p>
                                </div>
                                <p class="user-comments-comment">
                                    点击放大看风景dfjkldjflkdsaj地方大师傅简单快乐flkdjs
                                </p>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
    <div class="no-more-comments">
        - 没有更多了 -
    </div>
    <!--
        底部评论栏
    -->
    <footer class="bottom-common">
        <div class="comment-input-container">
            <input data-emojiable="true" oninput="this.value=this.value.replace(/\s+/g,'')"
                   v-model="commentsContent"
                   class="comment-input"
                   type="text" placeholder="写下你的评论..."/>
        </div>
        <div class="comment-icon-container">
            <img src="img/course-detail/upload-img.png" @click="uploadImg" class="bottom-icon-comment"/>
            <input type="file" hidden id="upload-img" accept="image/*" mutiple="mutiple"/>
            <button type="button" class="comments-send-btn" :disabled="isDisabled">发布</button>
        </div>
    </footer>
</div>
<script type="text/javascript" src="assets/jquery/jquery-3.3.1.min.js"></script>
<script src="assets/emoji/js/config.js"></script>
<script src="assets/emoji/js/util.js"></script>
<script src="assets/emoji/js/jquery.emojiarea.js"></script>
<script src="assets/emoji/js/emoji-picker.js"></script>
<script type="text/javascript" src="js/comments-detail.js"></script>
</body>

</html>