<form id="add-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">

    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Course_category_id')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-course_category_id" data-rule="required" data-source="course/category/index" class="form-control selectpage form-control" name="row[course_category_id]" type="text" value="">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Name')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-name" data-rule="required" class="form-control form-control" name="row[name]" type="text" value="">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Flag')}:</label>
        <div class="col-xs-12 col-sm-8">

            <select  id="c-flag" class="form-control selectpicker" multiple="" name="row[flag][]">
                {foreach name="flagList" item="vo"}
                <option value="{$key}" {in name="key" value=""}selected{/in}>{$vo}</option>
                {/foreach}
            </select>

        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('封面描述')}:</label>
        <div class="col-xs-12 col-sm-8">
            <textarea id="c-coverdesc" data-rule="required" class="form-control" rows="5" name="row[coverdesc]" cols="50"></textarea>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Coverimage')}:</label>
        <div class="col-xs-12 col-sm-8">
            <div class="input-group">
                <input id="c-coverimage" data-rule="required" class="form-control form-control" size="50" name="row[coverimage]" type="text">
                <div class="input-group-addon no-border no-padding">
                    <span><button type="button" id="plupload-coverimage" class="btn btn-danger plupload" data-input-id="c-coverimage" data-mimetype="image/gif,image/jpeg,image/png,image/jpg,image/bmp" data-multiple="false" data-preview-id="p-coverimage"><i class="fa fa-upload"></i> {:__('Upload')}</button></span>
                    <!--<span><button type="button" id="fachoose-coverimage" class="btn btn-primary fachoose" data-input-id="c-coverimage" data-mimetype="image/*" data-multiple="false"><i class="fa fa-list"></i> {:__('Choose')}</button></span>-->
                </div>
                <span class="msg-box n-right" for="c-coverimage"></span>
            </div>
            <ul class="row list-inline plupload-preview" id="p-coverimage"></ul>
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Content')}:</label>
        <div class="col-xs-12 col-sm-8">
            <textarea id="c-content" data-rule="required" class="form-control editor form-control" rows="5" name="row[content]" cols="50"></textarea>
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('广告1')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-ad1" data-rule="required" class="form-control form-control" name="row[ad1]" type="text" value="">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('广告2')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-ad2" class="form-control form-control" name="row[ad2]" type="text" value="">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('广告3')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-ad3"  class="form-control form-control" name="row[ad3]" type="text" value="">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('实际浏览数')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-readnum" data-rule="required" class="form-control form-control" disabled  name="row[readnum]" type="number" value="0">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('实际赞')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-zan" data-rule="required" class="form-control form-control" disabled  name="row[zan]" type="number" value="0">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('实际评论数')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-comments" data-rule="required" class="form-control form-control" disabled  name="row[comments]" type="number" value="0">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('显示阅读数')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-readnum_set" data-rule="required" class="form-control form-control" name="row[readnum_set]" type="number" value="0">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('显示赞数')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-zan_set" data-rule="required" class="form-control form-control" name="row[zan_set]" type="number" value="0">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('显示评论数')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-comments_set" data-rule="required" class="form-control form-control" name="row[comments_set]" type="number" value="0">
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('权重')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-weigh" data-rule="required" class="form-control form-control" name="row[weigh]" type="number" value="0">
        </div>
    </div>
    <div class="form-group layer-footer">
        <label class="control-label col-xs-12 col-sm-2"></label>
        <div class="col-xs-12 col-sm-8">
            <button type="submit" class="btn btn-success btn-embossed disabled">{:__('OK')}</button>
            <button type="reset" class="btn btn-default btn-embossed">{:__('Reset')}</button>
        </div>
    </div>
</form>
