<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no,maximum-scale=1.0">
    <title>我的</title>
    <script type="text/javascript" src="/js/loader.js"></script>
    <link rel="stylesheet" href="/css/person-home.css"/>
</head>
<body>
<div id="app" class="mui-content" v-cloak>
    <section>
        <div class="user-info">
            <div class="top-part">
                <img src="/img/person-home/icon-set@3x.png" class="user-info-icon-set" @click="goSetting">
            </div>
            <div class="bottom-part">
                <div class="img-container">
                    <img :src="userInformation.avatar" class="user-info-logo"/>
                    <p class="user-info-nickname">{{userInformation.nickname}}</p>
                    <div class="user-info-authentication">
                        企业用户认证
                        <img src="/img/person-home/author.png" class="auth-img">
                    </div>
                </div>
            </div>
        </div>
        <div class="user-function">
            <div @click="goMyCollection" class="user-function-item">
                <img src="/img/person-home/icon-like3x.png" class="user-function-item-img"/>
                <p class="user-function-item-title">我的收藏</p>
            </div>
            <div @click="goMyCourse" class="user-function-item">
                <img src="/img/person-home/icon-manager.png"  class="user-function-item-img"/>
                <p class="user-function-item-title">课程管理</p>
            </div>
        </div>
    </section>
    <!--
       描述：底部导航栏
    -->
    <nav class="mui-bar mui-bar-tab">
        <a class="mui-tab-item"
           v-for="(item,index) in navigationList"
           :class="{active:index == 2}"
           @click="switchPage(item.id)"
        >
            <img  v-if="index == 0" src="/img/course.png"/>
            <img  v-else-if="index == 1" src="/img/discovery.png"/>
            <img v-else src="/img/my-active.png"/>
            <span class="mui-tab-label">{{item.title}}</span>
        </a>
    </nav>
</div>
<script type="text/javascript" src="/assets/jquery/jquery-3.3.1.min.js"></script>
<script type="text/javascript" src="/assets/mui/js/mui.min.js"></script>
<script type="text/javascript" src="/assets/vue/vue.min.js"></script>
<script src="/js/person-home.js" type="text/javascript"></script>
</body>
</html>