<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <script type="text/javascript" src="/js/loader.js"></script>
    <link rel="stylesheet" href="/css/edit-bind-phone.css"/>
</head>
<body>
<div  id="app">
    <header class="mui-bar mui-bar-nav">
        <a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
        <h1 class="mui-title">
            <template v-if="isBindPhone">绑定手机号</template>
            <template v-else>修改手机号</template>
        </h1>
    </header>
    <div class="mui-content">
        <div class="mui-input-group">
            <div v-if="!isBindPhone" class="mui-input-row phone">
                <label>原手机号</label>
                <input type="text" value="138****2011" readonly/>
            </div>
            <div class="mui-input-row phone">
                <label>
                    <template v-if="!isBindPhone">新手机号</template>
                    <template v-else>手机号</template>
                </label>
                <input v-model="phone" onkeypress='return( /[\d]/.test(String.fromCharCode(event.keyCode) ) )'  @input="validatePhone" type="number" maxlength="11" type="text" placeholder="请输入手机号码"/>
            </div>
            <div class="mui-input-row code">
                <label>验证码</label>
                <input onkeypress='return( /[\d]/.test(String.fromCharCode(event.keyCode) ) )' @paste="validateCOde" @input="validateCOde" maxlength="6" type="number" @paste="validatePhone" v-model="code" placeholder="请输入验证码"/>
                <button @click="sendPhoneCode" type="button" class="button-send" :class="{'send':isSend}">{{sendCodeContent}}</button>
            </div>
        </div>
        <button @click="confirmBind" :disabled="isDisabled" class="confirm-edit-btn" type="button">确认绑定</button>
    </div>
</div>
<script type="text/javascript" src="/assets/jquery/jquery-3.3.1.min.js"></script>
<script type="text/javascript" src="/assets/mui/js/mui.min.js"></script>
<script type="text/javascript" src="/assets/vue/vue.min.js"></script>
<script type="text/javascript" src="/js/edit-bind-phone.js"></script>
</body>
</html>