<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no,maximum-scale=1.0">
    <title></title>
    <script src="../../../../public/js/loader.js" type="text/javascript"></script>
    <link rel="stylesheet" href="../../../../public/css/edit-nickname.css"/>
</head>
<body>
<header class="mui-bar mui-bar-nav">
    <a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
    <h1 class="mui-title">修改昵称</h1>
</header>
<div id="app" class="mui-content" v-cloak>
    <div class="edit-nickname-input">
        <input placeholder="输入新昵称" v-model="nickNames" type="text" class="nickname"/>
        <img @click="clearNickname" :class="{'invisible':isHidden}" src="/img/icon-delete.png" class="icon-delete"/>
    </div>
    <button :disabled="isDisabled"
            @click="modifyNickname()"
            class="confirm-edit-btn" type="button">确认修改</button>
</div>
<script type="text/javascript" src="../../../../public/js/jquery-3.3.1.min.js"></script>
<script type="text/javascript" src="../../../../public/js/mui.min.js"></script>
<script type="text/javascript" src="../../../../public/js/vue.min.js"></script>
<script type="text/javascript" src="../../../../public/js/edit-nickname.js"></script>
</body>
</html>