<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no,maximum-scale=1.0">
    <title></title>
    <link rel="stylesheet" href="/assets/mui/css/mui.min.css"/>
    <link rel="stylesheet" href="/css/share-page.css"/>
</head>
<body>
<div class="mui-content">
    <header>
        <img src="/img/show.jpg" class="top-img">
    </header>
    <section>
        <h4 class="share-title">
            93岁院士捐助600万元，他却没房没车一件衬衣能穿30年
        </h4>
        <div class="share-article-desc">
            <p class="article-content">
                “我这一辈子，不谦虚地说四个字就概括了--勤奋、报国！”谈及自己的
                人生感悟崔崑如是说...
            </p>
            <div class="app-logo">
                <img src="/img/course-detail/logo.jpg" class="logo"/>
                <div class="right-part">
                    <p class="author-name">乐养老</p>
                    <p class="author-info">作者认证信息</p>
                </div>
            </div>
        </div>
		<div class="bottom-part">
			<div class="ad-character">
				这里放乐养老的广告语
			</div>
			<div class="show-img">
				<img src="/img/show-picture.jpg" class="code-img"/>
				<img src="/img/show-picture.jpg" class="business-img"/>
			</div>
		</div>	
    </section>
</div>
</body>
</html>